.entry_image {
  float: left
}

ul.slider {
  list-style-type: none;
  margin: 0px
}

div#map {
  width: 550px;
  height: 450px
}

.toggle-link {
  color: #245289;
  text-decoration: underline;
  cursor: hand
}

.postcard-heading {
  font-family: Georgia;  
}
