ul.slider {
  list-style-type: none;
  margin: 0px
}

div#map {
  width: 650px;
  height: 450px
}

.toggle-link {
  color: #245289;
  text-decoration: underline;
  cursor: hand
}

.postcard-heading {
  font-family: Georgia;  
}

.right-align {
  text-align: right
}

.error {
  font-color: red;
}

a.cloud-tiny {
  font-size: 0.8em
}

a.cloud-small {
  font-size: 1em
}

a.cloud-normal {
  font-size: 1.2em
}

a.cloud-big {
  font-size: 1.4em
}

.field-with-errors {
  font-weight: bold;
  color: red;
  background-color: red
}
