// index
.postcard-set {
  padding: 1em 0;
  h3 {
    height: 2.0em;
    a {
      display: block;
    }
  } 
  p {
    padding: 0.5em;
  }
  .images {
    text-align: center;
    img {
      padding: 1em;
    }
  }
}

// edit new
.postcard-set-images {
  input {
    float: left;
  }
  img {
    width: 100px;
    height: 100px;
    padding: 0.5em;
  }
}

.field .postcard-set-images {
  margin-left: 195px;
}

// show
.postcard-set-image {
  float: left;
  width: 300px;
  text-align: center;
  padding: 1em 0;
}

.postcard-set-image-description {
  padding: 1em 0;
  p {
    padding: 0;
    margin: 0;
  }
}

p.small {
  font-size: 0.8em;
}
