<ul>	
  <li>
    <%= render :partial => 'index/tag_cloud', :locals => { :tags => @tags } %>
  </li>
  <% if current_user %>
    <li>
      <%= render :partial => 'index/actions' %>
    </li>
  <% end %>
  <li>
    <%= render :partial => 'index/login' %>
  </li>
</ul> 
