- content_for :head do
  = javascript_include_tag 'index'

#slider.nivoSlider
  - @newest_postcards.each do |p|
    = image_tag(postcard_abverse_image_url(p, :normal))

#htmlcaption.nivo-html-caption
  <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.

