#slider.nivoSlider.theme-default
  - @newest_postcards.each do |p|
    = image_tag(postcard_abverse_image_url(p, :normal))

#newsletter-message
  Jeśli chcesz wiedzieć o wszystkich aktualizacjach strony zapisz się do mojego newslettera.
  = link_to 'Zapisz', newsletter_path

