%li
  .publisher
    = content_tag 'h3', link_to(h(publisher.name), publisher)
    .date-added
      = date_added(publisher.created_at)
    - if current_user
      %p
        = link_to t(:v_edit), edit_publisher_path(publisher), :class => :important
        = link_to t(:v_delete), publisher, :method => :delete, :confirm => t(:v_delete_confirmation), :class => :important
    %hr
