- content_for :head do
  :javascript
    $(document).ready(function() {
      Shadowbox.init();
    });

.pagination
  = will_paginate @postcard_sets, link_separator: ' &nbsp; '
  %hr
= render @postcard_sets
.pagination
  = will_paginate @postcard_sets, link_separator: ' &nbsp; '
