= @postcard_set.description.html_safe

%ol.postcard-set
  - @postcard_set.postcards.each do |postcard|
    %li
      %div.postcard-set-image
        = render partial: '/gallery_shadowbox', locals: { abverse: @postcard_set.show_abverse, postcard: postcard }
      %div.postcard-set-image-description
        = postcard.name
        = date_added(postcard.created_at)
