<p>

  Wszelkie uwagi proszę kierować pod adres  
&#109;&#105;&#114;&#101;&#107;&#46;&#112;&#105;&#101;&#116;&#114;&#97;&#115;&#122;&#101;&#107;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;
</p>
