.clear {
  clear: both;
}

.postcard {
  float: left;
  padding: 1em 0;
  width: 330px;
  text-align: center;
}

.postcard h3 {
  margin-bottom: 0.5em;
}

#pagination {
  width: 100%;
  text-align: center;
}
