.postcard {
  h3 {
    height: 2.5em;
    a {
      display: block;
    }
  }
  p {
    padding: 0.5em;
  }
}

.postcard-sets {
  list-style-type: disc;
  li {
    padding-left: 1em;
    margin-left: 2em;
  }
}
