.small-thumbnail {
  width: 100px;
  vertical-align: middle;
}

// index
ol#postcard-sets li {
}
li.accordion {
  width: 150px; 
  display: block; 
  float: left;
} 

// show
.postcard-set-image, .postcard-set-image-description {
}
